body{
    background: rgba(231, 159, 171, 0.423);
}

body>image{
    justify-items: center;
}

#mainDiv {
    position: absolute;
    left: 34%;
    top: 40%;
}

#mainButton {
    border: 4px solid lightgray;
    border-radius: 5px;
    background: rgb(173, 216, 230);
    padding: 4px 8px;
}

#mainButton:active {
    background: rgb(173, 216, 230, 0.75); 
}

#textSpan {
    background: lightpink;
    padding: 4px 8px; 
    border: 3px solid lightgray;
    border-radius: 4px; 
}
#image {
    border-radius: 10px;
    border: 4px solid lightgray;
    display: block;
    margin: 10px auto 0 auto; 
    width: 200px;
    height: 200px;
    opacity: 0;
}

#video {
    position: absolute;
    left: 43%;
    top: 35%;
}
