#mainDiv {
    position: absolute;
    left: 34%;
    top: 40%;
}

#mainButton {
    border: none;
    border-radius: 5px;
    background: rgb(173, 216, 230);
    padding: 4px 8px;
}

#mainButton:active {
    background: rgb(173, 216, 230, 0.75); 
}

#textSpan {
    background: lightpink;
    padding: 4px 8px; 
    border-radius: 4px; 
}
#image {
    display: block;
    margin: 10px auto 0 auto; 
    width: 150px;
    height: 150px;
    opacity: 0;
}
