#mainDiv {
    position: absolute;
    left: 34%;
    top: 40%;
}

#mainButton {
    border: none;
    border-radius: 5px;
    background: rgb(173, 216, 230);
}

#mainButton:active {
    background: rgb(173, 216, 230, 0.75); 
}

#text {
    background: lightpink;
}

#image {
    width: 150px;
    height: 150px;
    opacity: 0;
}